body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#login {
    flex-shrink: 0;
    margin: 0.5em;
}

#login form {
    display: inline;
}

#horiz-bit {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

#query {
    width: 50vw;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
}

#query textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

#query button {
    width: 3em;
}

#messages {
    width: 50vw;
    overflow: auto;
    margin-left: 0.5em;
    font-family: 'Courier New', fixed;
}

#results {
    height: 40vh;
    flex-shrink: 0;
    overflow: auto;
    margin: 0.5em 0 0 0.5em;
    border-top: 0.1em solid #ccc;
}

.error {
    font-weight: bold;
    color: red;
}

.null {
    background-color: #fffbe7;
    font-style: italic;
}

th {
    text-align: left;
    padding-right: 1em;
}

#results tr:nth-child(even) {
    background-color: #f2f2f2;
}

#results table {
    border-collapse: collapse;
    margin-bottom: 2em;
}

#results td {
    padding: 0.25em;
}
